body{
    font-size: 16px;
    font-family: Verdana,sans-serif;
    color: #333;
    margin: 0;
}

.container{
    width: 820px;
    margin: 0 auto;
    padding: 60px 0;
}

.orange-bg{
    color: #fff;
    background: url(../img/bg.png);
    background-size: cover;
}
    /* header */


header h1{
    margin-top: 0;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 8px;
}

header p{
    margin-top: 0px;
    margin-bottom: 50px;
}
header .container{
    
    /* 相対位置への配置 */
    position: relative;
}

header img{
    /* 絶対位置への配置 */
    position: absolute;
    /* 右下に配置 */
    bottom: 0;
    right: 0;
}

.btn{
    display: inline-block;
    width: 290px;
    background:#fff;
    color: #f39800;
    text-align: center;

    /* リンクの下線削除 */
    text-decoration: none;
    /* padding: 上下 左右; で指定*/
    padding: 8px 0;
    /* ボックスを丸める */
    border-radius: 5px;
    /* 要素の透明度を指定 */
    opacity: 0.9;
}

.btn:hover{
    opacity: 1.0;
}

/* features */

.features h1{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.features h1::after{
    content: attr(data-subtitle);
    display: block;
    font-size: 16px;
    color: #aaa;
    padding-top: 10px;
}